<%= form_for(@baseboard) do |f| %>
  <% if @baseboard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@baseboard.errors.count, "error") %> prohibited this baseboard from being saved:</h2>

      <ul>
      <% @baseboard.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :host_id %><br />
    <%= f.number_field :host_id %>
  </div>
  <div class="field">
    <%= f.label :baseboard_product_name %><br />
    <%= f.text_field :baseboard_product_name %>
  </div>
  <div class="field">
    <%= f.label :baseboard_serial_number %><br />
    <%= f.text_field :baseboard_serial_number %>
  </div>
  <div class="field">
    <%= f.label :baseboard_version %><br />
    <%= f.text_field :baseboard_version %>
  </div>
  <div class="field">
    <%= f.label :baseboard_description %><br />
    <%= f.text_field :baseboard_description %>
  </div>
  <div class="field">
    <%= f.label :system_uuid %><br />
    <%= f.text_field :system_uuid %>
  </div>
  <div class="field">
    <%= f.label :memory_maximum_capacity %><br />
    <%= f.text_field :memory_maximum_capacity %>
  </div>
  <div class="field">
    <%= f.label :memory_number_of_devices %><br />
    <%= f.number_field :memory_number_of_devices %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
