<h1>Listing baseboards</h1>

<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Host</th>
    <th>Baseboard product name</th>
    <th>Baseboard serial number</th>
    <th>Baseboard version</th>
    <th>Baseboard description</th>
    <th>System uuid</th>
    <th>Memory maximum capacity</th>
    <th>Memory number of devices</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

<% @baseboards.each do |baseboard| %>
  <tr>
    <td><%= baseboard.host_id %></td>
    <td><%= baseboard.baseboard_product_name %></td>
    <td><%= baseboard.baseboard_serial_number %></td>
    <td><%= baseboard.baseboard_version %></td>
    <td><%= baseboard.baseboard_description %></td>
    <td><%= baseboard.system_uuid %></td>
    <td><%= baseboard.memory_maximum_capacity %></td>
    <td><%= baseboard.memory_number_of_devices %></td>
    <td><%= link_to 'Show', baseboard %></td>
    <td><%= link_to 'Edit', edit_baseboard_path(baseboard) %></td>
    <td><%= link_to 'Destroy', baseboard, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Baseboard', new_baseboard_path, {:class => 'btn'} %>
