<%= form_for(@processor) do |f| %>
  <% if @processor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@processor.errors.count, "error") %> prohibited this processor from being saved:</h2>

      <ul>
      <% @processor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="clearfix">
      <%= f.label :host_id %>
      <div class="input">
      <%= f.number_field :host_id %>
      </div>
    </div>
</div>
  </div>
  <div class="field">
    <div class="clearfix">
    <%= f.label :processor_family %>
      <div class="input">
      <%= f.text_field :processor_family %>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="clearfix">
    <%= f.label :processor_version %>
      <div class="input">
      <%= f.text_field :processor_version %>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="clearfix">
    <%= f.label :processor_signature %>
      <div class="input">
      <%= f.text_field :processor_signature %>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="clearfix">
    <%= f.label :processor_manufacturer %>
    <div class="input">
      <%= f.text_field :processor_manufacturer %>
      </div>
    </div>
  </div>
  <div class="field">
<<<<<<< HEAD
    <div class="clearfix">
    <%= f.label :processor_max_speed %>
      <div class="input">
      <%= f.number_field :processor_max_speed %>
      </div>
    </div>
=======
    <%= f.label :processor_max_speed %><br />
    <%= f.text_field :processor_max_speed %>
>>>>>>> efd5b3bdb368bf59ee69c8a78050f542559182c6
  </div>
  <div class="field">
    <div class="clearfix">
    <%= f.label :processor_id %>
      <div class="input">
      <%= f.text_field :processor_id %>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="clearfix">
    <%= f.label :processor_core_count %>
      <div class="input">
      <%= f.number_field :processor_core_count %>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="clearfix">
    <%= f.label :processor_core_enabled %>
      <div class="input">
      <%= f.number_field :processor_core_enabled %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
