<%= form_for(@processor) do |f| %>
  <% if @processor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@processor.errors.count, "error") %> prohibited this processor from being saved:</h2>

      <ul>
      <% @processor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :host_id %><br />
    <%= f.number_field :host_id %>
  </div>
  <div class="field">
    <%= f.label :processor_family %><br />
    <%= f.text_field :processor_family %>
  </div>
  <div class="field">
    <%= f.label :processor_version %><br />
    <%= f.text_field :processor_version %>
  </div>
  <div class="field">
    <%= f.label :processor_signature %><br />
    <%= f.text_field :processor_signature %>
  </div>
  <div class="field">
    <%= f.label :processor_manufacturer %><br />
    <%= f.text_field :processor_manufacturer %>
  </div>
  <div class="field">
    <%= f.label :processor_max_speed %><br />
    <%= f.number_field :processor_max_speed %>
  </div>
  <div class="field">
    <%= f.label :processor_id %><br />
    <%= f.text_field :processor_id %>
  </div>
  <div class="field">
    <%= f.label :processor_core_count %><br />
    <%= f.number_field :processor_core_count %>
  </div>
  <div class="field">
    <%= f.label :processor_core_enabled %><br />
    <%= f.number_field :processor_core_enabled %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
