<h1>Listing hosts</h1>

<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Ipaddress</th>
    <th>Baseboard</th>
    <th>Bios</th>
    <th>Processor</th>
    <th>Memory</th>
  </tr>
  </thead>

<% @hosts.each do |host| %>
  <tr>
    <td><%= host.name %></td>
    <td><%= host.ipaddress %></td>
    <td><%= host.bios %></td>
    <td><%= host.processors %></td>
    <td><%= host.memory %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add New Host', new_host_path, :class => 'btn' %>
