<h1>Search Results</h1>

<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>IP Address</th>
    <th>Bios Vendor</th>
	<th>Processor Family</th>
	<th>Processor Version</th>
	<th>Baseboard Serial Number</th>
	<th>Memory</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

<%= form_tag(search_hosts_path, :method => :get) do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q, params[:q]) %>
  <%= submit_tag("Search", {:class => 'btn'}) %>
<% end %>

<% @hosts.each do |host| %>
  <tr>
    <td><%= host.name %></td>
    <td><%= host.ipaddress %></td>
	<td><% if host.bios != nil %><%= host.bios.bios_vendor %><% end %></td>
	<td><% if host.processor != nil %><%= host.processor.processor_family %><% end %></td>
	<td><% if host.processor != nil %><%= host.processor.processor_version %><% end %></td>
	<td><% if host.baseboard != nil %><%= host.baseboard.baseboard_serial_number %><% end %></td>
	<td><% if host.baseboard != nil %><%= host.baseboard.memories.map(&:memory_size).join(', ') %><% end %></td>
    <td><%= link_to 'Show', host %></td>
    <td><%= link_to 'Edit', edit_host_path(host) %></td>
    <td><%= link_to 'Destroy', host, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add New Host', new_host_path, :class => 'btn' %>
