<%= form_for(@memory) do |f| %>
  <% if @memory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@memory.errors.count, "error") %> prohibited this memory from being saved:</h2>

      <ul>
      <% @memory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :baseboard_id %><br />
    <%= f.number_field :baseboard_id %>
  </div>
  <div class="field">
    <%= f.label :memory_size %><br />
    <%= f.text_field :memory_size %>
  </div>
  <div class="field">
    <%= f.label :memory_speed %><br />
    <%= f.text_field :memory_speed %>
  </div>
  <div class="field">
    <%= f.label :memory_type %><br />
    <%= f.text_field :memory_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
