<h1>Listing memories</h1>

<table>
  <tr>
    <th>Baseboard</th>
    <th>Memory size</th>
    <th>Memory speed</th>
    <th>Memory type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @memories.each do |memory| %>
  <tr>
    <td><%= memory.baseboard_id %></td>
    <td><%= memory.memory_size %></td>
    <td><%= memory.memory_speed %></td>
    <td><%= memory.memory_type %></td>
    <td><%= link_to 'Show', memory %></td>
    <td><%= link_to 'Edit', edit_memory_path(memory) %></td>
    <td><%= link_to 'Destroy', memory, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Memory', new_memory_path %>
