<%= form_for(@bios) do |f| %>
  <% if @bios.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bios.errors.count, "error") %> prohibited this bios from being saved:</h2>

      <ul>
      <% @bios.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :host_id %><br />
    <%= f.number_field :host_id %>
  </div>
  <div class="field">
    <%= f.label :bios_release_date %><br />
    <%= f.date_select :bios_release_date %>
  </div>
  <div class="field">
    <%= f.label :bios_vendor %><br />
    <%= f.text_field :bios_vendor %>
  </div>
  <div class="field">
    <%= f.label :bios_version %><br />
    <%= f.text_field :bios_version %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
