<%= form_for(@bios) do |f| %>
  <% if @bios.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bios.errors.count, "error") %> prohibited this bios from being saved:</h2>

      <ul>
      <% @bios.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="clearfix">
    <%= f.label :host_id %>
      <div class="input">
      <%= f.number_field :host_id %>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="clearfix">
    <%= f.label :bios_release_date %>
      <div class="input">
      <%= f.date_select :bios_release_date %>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="clearfix">
    <%= f.label :bios_vendor %>
      <div class="input">
      <%= f.text_field :bios_vendor %>
      </div>
    </div>
  </div>
  <div class="field">
    <div class="clearfix">
    <%= f.label :bios_version %>
      <div class="input">
      <%= f.text_field :bios_version %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
