<h1>Listing bioses</h1>

<table>
  <tr>
    <th>Host</th>
    <th>Bios release date</th>
    <th>Bios vendor</th>
    <th>Bios version</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bioses.each do |bios| %>
  <tr>
    <td><%= bios.host_id %></td>
    <td><%= bios.bios_release_date %></td>
    <td><%= bios.bios_vendor %></td>
    <td><%= bios.bios_version %></td>
    <td><%= link_to 'Show', bios %></td>
    <td><%= link_to 'Edit', edit_bios_path(bios) %></td>
    <td><%= link_to 'Destroy', bios, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bios', new_bios_path %>
