<h1>Listing bioses</h1>

<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Host</th>
    <th>Bios release date</th>
    <th>Bios vendor</th>
    <th>Bios version</th>
    <th></th>
  </tr>
  </thead>

<% @bioses.each do |bios| %>
  <tr>
    <td><%= bios.host_id %></td>
    <td><%= bios.bios_release_date %></td>
    <td><%= bios.bios_vendor %></td>
    <td><%= bios.bios_version %></td>
    <td><%= link_to 'Show', bios %></td>
  </tr>
<% end %>
</table>

<br />

<<<<<<< HEAD
<%= link_to 'New Bios', new_bios_path, {:class => 'btn'} %>
=======
>>>>>>> 9167c1ba0f1ab924ab40b38e7dc021fa0343b985
